<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinyao.dao.UserDao">
	<resultMap id="userinfo" type="com.yinyao.entity.User">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<association property="roleList" javaType="com.yinyao.entity.Role">
			<id property="id" column="id"></id>
			<result property="rolename" column="rolename"></result>
		</association>
	</resultMap>
    <select id="getUserInfoByUserName" resultType="com.yinyao.entity.User" parameterType="string">
		select * from user_info a where a.username = #{username};
	</select>
    <select id="getRoleNameByUserName"  resultMap="userinfo">
		select a.username,a.password,c.rolename from
		user_info a left join  user_role b
		on a.id  = b.userid
		left join role c
		on b.roleid = c.id
		where a.username=#{username};
	</select>
	
</mapper>